<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title>Day of Sobriety | A Sauerbraten Tournament</title>

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/app.css">
  <link rel="stylesheet" href="/css/foundation.css">

  <script src="/js/vendor/custom.modernizr.js"></script>

</head>
<body>

  <!-- Nav Bar -->

  <div class="row">
    <div class="large-12 columns">
      <img src="/img/logo.png" class="logo" />
    </div>
    <div class="large-12 columns">
      <h3 class="logo">A Sauerbraten Tournament</h3>
    </div>
    <hr />
  </div>

  <!-- End Nav -->


  <!-- Main Page Content and Sidebar -->

  <div class="row">

    <!-- Sidebar -->

    <aside class="large-3 columns">

      <div id="side-menu"> </div>


      <div class="panel" id="email-signup"> </div>

    </aside>

    <!-- End Sidebar -->

    <!-- Main Blog Content -->
    <div class="large-9 columns" role="content" id="content-main">

    </div>

    <!-- End Main Content -->

  </div>

  <!-- End Main Content and Sidebar -->


  <!-- Footer -->

  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-6 columns">
          <p>&copy; Copyright 2013 by Very Sober People Indeed.</p>
        </div>
        <div class="large-6 columns bottom-menu">
        </div>
      </div>
    </div>
  </footer>

  <script>
  document.write('<script src=js/vendor/' +
  ('__proto__' in {} ? 'zepto' : 'jquery') +
  '.js><\/script>')
  </script>
  <script src="/js/foundation.min.js"></script>
  <script>
    $(document).foundation();
  </script>

  <!-- End Footer -->
</body>
</html>
