<div class="main-menu">

  <h5>What's your poison?</h5>
  <ul class="side-nav">
    <li><a href="#">Link</a></li>
  </ul>

</div>

<div class="bottom-menu">

  <ul class="inline-list right">
    <li><a href="#">Link 1</a></li>
  </ul>

</div>


<div id="email-signup">
  <h4>Interested?</h4>
  <p>Sign up for email updates!</p>
  <form action="http://sauerworld.us7.list-manage1.com/subscribe/post?u=35801d1152bd4c1cb9dde5487&amp;id=e8a158c0a4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <input type="text" value="" name="NICK" class="nick" id="mce-NICK" placeholder="player nickname" required>
    <input type="submit" value="Submit!" name="subscribe" id="mc-embedded-subscribe" class="button round">
  </form>
</div>


<article>

  <h2><a href="#">Blog Post Title</a></h2>
  <h6>Written by John Smith on August 12, 2012.</h6>

  <div class="content">
  </div>

  <hr />

</article>
