<div id="user-profile">

  <dl>
    <dt>Username</dt>
    <dd>tuamamma</dd>
  </dl>

  <a href="/user/password">Change Password</a>
</div>

<div id="user-login">

  <p class="error"></p>

  <form method="POST">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" />

    <label for="password">Password:</label>
    <input type="password" name="password" id="password" />

    <input type="submit" value="Login" />

  </form>

</div>

<div id="user-form">

  <p class="error"></p>

  <form method="POST">

    <label for="username">Username (use desired game nickname):</label>
    <input type="text" name="username" id="username" />

    <label for="password">Password:</label>
    <input type="password" name="password" id="password" />

    <label for="password-confirm">Confirm Password:</label>
    <input type="password" name="password-confirm" id="password-confirm" />

    <label for="email">Email Address:</label>
    <input type="text" name="email" id="email" />

    <input type="submit" value"Register" />

  </form>

</div>

<div id="registration-thanks">

  <p>
    Thanks for registering. An email has been sent to the address you
    registered with. Please click on the link to validate your email.
  </p>

</div>


<div id="success">

  <p>Password change successful!</p>

</div>
