@import "_variables";
@import "foundation/scss/foundation";

img.logo {
  height: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h3.logo {
  margin-top: .2em;
  text-align: center;
}