@import "_variables";
@import "foundation/scss/foundation";
@import url(http://fonts.googleapis.com/css?family=Vollkorn:400,400italic,700,700italic&subset=latin);

img.logo {
  height: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h3.logo {
  margin-top: .2em;
  text-align: center;
}

ul, ol {
  padding-left: 1.2em;
}

ul {
  list-style: square;
}

div.content {
  h1 {
    font-size: 2.3125em;
  }
  h2 {
    font-size: 1.6875em;
  }
  h3 {
    font-size: 1.4375em;
  }
}
